.arena-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.cards-and-fight-button-container {
    min-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    --bs-card-border-color: transparent;
    background-color: transparent;
}

.card-disabled {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.card img {
    width: 12em;
}

h2 {
    display: flex;
    justify-content: center;
}

.battle-log {
    white-space: pre-line;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 10px;
    max-width: 250px;
    height: max-content;
}

.battle-log p {
    width: inherit;
    text-align: center;
}

.duel-card {
    min-width: 110px;
    margin: 0 10px;
}