div {
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div img {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: -10px;
}