/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/background-7.jpeg');
    background-size: contain;
}
